:root {
    --highlight-color: rgb(135,197,198);
    --bluefont-color: rgb(60,78,107);
    --dark-color: rgb(43,46,53);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 0px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px, 10px;
}
h1 {
    font-size: 60px;
    font-weight: lighter;
}
header h1 {
    text-align: center;
    color: var(--dark-color);
    background-color: var(--highlight-color);
}
 
  header nav {
    margin: 20px 20px;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--highlight-color);
    margin-right: 40px;
  }
  header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--highlight-color);
    text-align: center;
    border-bottom: 4px solid;
    margin: 0px 6px;
  }

  .hero {
      background-image: url('../images/Indians.jpeg');
      background-size: cover;
      height: 200px;
     
  }

 h2 {
    font-size: 45px;
    font-weight: lighter;
    color: var(--bluefont-color);
 }

 h3 {
     font-size: 30px;
     font-weight: lighter;
 }
 h4 {
    font-size: 15px;
    font-weight: lighter;
}
 .hero h3 {
    color: var(--dark-color);
    background-color: var(--highlight-color);
    padding: 5px 10px;
    text-align: right;
    float: right;
    margin: 135px 60px 10px 0;
  }


.container {
    display: grid;
    margin: 20px 0px;
}

.column_work1 {
    width: 200px;
    grid-column: 1;
    padding: 10px 15px 0px 20px;
    justify-content: right;
    border-right: 3px solid var(--bluefont-color);

}

.column_work1 article {
    width: auto;
    font-size: 45px;
    font-weight: lighter;
    color: var(--bluefont-color);
    text-align: right;
}

.column_work2 {
    grid-column: 2;
    width: auto;
    margin: 20px;
}

.work-sub {
    justify-content: space-between;  
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.work-main img {
    display: flex;
    width: 100%;
    /*height: 400px*/
    flex-wrap: wrap;
    border: 5px solid var(--highlight-color);
}
.work-sub img {
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*width: 440px;
    height: 150px*/
    flex-wrap: wrap;
    border: 5px solid var(--highlight-color);
}

.left_text {
    position: relative;
    width: auto;
    bottom: 90px;
    background-color: var(--highlight-color);
    display: table;
    justify-content: left;
    color: var(--bluefont-color);
}


.contact-info {
    display: flex;
  
}

.contact-info li {
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    color: var(--highlight-color);
    margin-right: 40px;
  }

  .contact-info li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--bluefont-color);
    text-align: center;
    border-bottom: 4px solid;
    margin: 0px 6px;
  }
  .contact-info li a h4 {
   
    font-size: 20px;
    
  }