:root {
    --highlight-color: rgb(135,197,198);
    --bluefont-color: rgb(60,78,107);
    --dark-color: rgb(43,46,53);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 0px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px, 10px;
}
h1 {
    font-size: 60px;
    font-weight: lighter;
}
header h1 {
    text-align: center;
    color: var(--dark-color);
    background-color: var(--highlight-color);
}
 
  header nav {
    margin: 20px 20px;
 
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--highlight-color);
    margin-right: 40px;
    
  }
  header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 20px;
    color: var(--highlight-color);
    text-align: center;
    border-bottom: 4px solid;
    margin: 0px 6px;
  }

  .hero {
      background-image: url('../images/Indians.jpeg');
      background-size: cover;
 
      height: 200px;
     
  }

 h3 {
     font-size: 30px;
     font-weight: lighter;
 }


  .hero h3 {
    color: var(--dark-color);
    background-color: var(--highlight-color);
    padding: 5px 10px;
    text-align: right;
    float: right;
    margin: 135px 60px 10px 0;
  }


h2 {
    font-size: 45px;
    font-weight: lighter;
    color: var(--bluefont-color);
    padding: 5px;
    margin: 20px;
    border-right: 3px solid var(--bluefont-color);
    justify-content: left;
    display: inline;
}

  article {
    color: var(--bluefont-color);
    font-weight: lighter;
    margin: 30px;
}

.topics {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work {
    background-image: url("../images/900x400.gif");
    display: flex;
    height: 440px;
    width: 930px;

}
.work img {

}
.sub-work {
    background-image: url("../images/440x150.gif");
    justify-content: center;
    height: 170px;
}

.contact  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--bluefont-color);
    margin-right: 40px;
}

